<p class="lead mt-3">Welcome to my Web API. It is solely for development/test environment.</p>
<p class="lead">In Students & Teachers you can make use of GET/POST/DELETE operations. (Teachers tab require basic authentication)</p>
<p class="lead">API tab is help page.</p>
<p class="lead">If you wish to learn more for me check out the 'About me' tab.</p>
